.jumbotron {
    background-image: url(img1.jpg);
    padding: 50px;
    background-repeat: no-repeat;
 
 
  
}
h1{
    color: rgb(174, 241, 67);
    font-weight: bold;
   font-size: 100px;
   

}





