nav {
    background-color: rgb(231, 88, 112)
}

a {
    text-decoration: none;
    color: white
}
 a:hover {
    text-decoration: underline;
    color: rgb(146, 219, 117)
}

.navbar-brand {
    font-size: 35px;
}

.nav-item {
    font-size: 25px;
}

