/* NAVBAR */ 
.navbar {
    text-align: center;
    background-color: #74c69d;
    padding: 0.75rem;
}

.searchInput {
    padding: 0.75rem;
    border: none;
    border-radius: 0.4rem 0 0 0.4rem;
}

.search, .library {
    display: inline-block;
    background-color: #f72585;
    border: none;
    border-radius: 0.4rem;
    padding: 0.6rem;
    margin: 0 0.75rem;
}

.btn a {
    text-decoration: none;
    color: #fffafa;
}

/* MOBILE */ 
@media(max-width: 575px) {
    .navbar {
        padding: 1rem;
    }
    .searchInput {
        float: left;
        padding: 0.5rem 0 0.5rem 0.5rem;
    }
    .search {
        padding: 0.35rem;
    }
    .library {
        padding: 0.35rem;
    }
}